body {
  font-family: monospace;
  font-size: 22px;
  line-height: 1.5;
  padding: 20px;
  text-align: justify;
  background-color: plum;
  margin: auto;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: blue;
}

ul {
  list-style: circle;
  border-style: double;
}
